.whack-a-mouse{
  .row {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    font-size: 40px;
    overflow: hidden;
    display: flex;
    width: 500px;
    align-content: center;
    cursor: url(https://cdn.custom-cursor.com/db/4655/32/arrow2662.png), auto !important;
  }
  .gameTile {
    width: 120px;
    height: 70px;
    background: greenyellow;
    position: relative;
    bottom: 0px;
    transition: all 2s;
    border: 1px solid black;
    display: flex;
    justify-content: center;
  }

  &.outerGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .hidden {
    width: 120px;
    background: brown;
    bottom: -60px;
    display: flex;
    align-items: flex-end;
  }
  .startButton {
    margin-top: 15px;
    box-shadow: 0px 0px 5px 5px rgb(47, 255, 57);
    height: 40px;
    width: 100px;
    background: rgb(117, 246, 121);
    font-size: 20px;
  }
  .score {
    font-size: 30px;
  }
}