.gameBoxes {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 10px;
  column-gap: 10px;
  margin-bottom: 10px;
}
.outerGameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.innerGameContainer {
  display: flex;
  flex-direction: column;
  font-size: 30px;
}
.ticTacToe {
  text-align: center;
}
.reset {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.resetButton {
  border: 1px solid rgb(60, 17, 218);
  background: rgb(144, 184, 245);
  font-size: 20px;
}
.gameButtons {
  border: 1px solid rgb(60, 17, 218);
  background: rgb(144, 184, 245);
  height: 30px;
}
.gameButtons:disabled {
  color: black;
  font-weight: bold;
}
